<button *ngIf="!filterBox.filterApplied" (click)="toggleFilterBox(filterBox)">{{filterBox.name}}</button>
<button *ngIf="filterBox.filterApplied" (click)="toggleFilterBox(filterBox)" style="background-color:yellow;">{{filterBox.name}}</button>

<div *ngIf="filterBox.userInputActivated" style="border:solid 1px #aaa; padding: 10px;">
    <div *ngFor="let interaction of filterBox.interactions">

        {{interaction.fieldMetaInfo.configFieldName}}
        <select [(ngModel)]="interaction.selectedValue">
            <option *ngFor="let item of interaction.fieldMetaInfo.enumConverter.mappingEnumToDisplay" [ngValue] = "item.enumValue">{{item.displayName}}</option>
        </select>

    </div>
    <button (click)="applyFilterBox(filterBox)">Apply</button>
    <button (click)="resetFilterBox(filterBox)">Reset</button>
    <button (click)="closeFilterBox(filterBox)">Close</button>
</div>