<div>
    <div *ngFor="let filterBox of Model.filterBoxes">
        <filter-box [filterBox]="filterBox" (filterChanged)="filterBoxChanged(filterBox)"></filter-box>
    </div>

    <ul>
        <li *ngFor="let task of tasksToDisplay">
            <div> Name:{{task.name}} </div>
            <div> Description:{{task.description}} </div>
            <div> Status:{{task.statusText}} </div>
            <div> Color:{{task.colorText}} </div>
            <div> Type:{{task.typeText}} </div>

        </li>
    </ul>

    <div>
        <button name="btn-cancel" (click)="onCancelClick()">Cancel</button>

    </div>
</div>

<!--
    <hr/>
        <pre>
            {{diagnostic}}
        </pre>

        -->