<div>
    <ul>
        <li *ngFor="let filterBox of Model.filterBoxes">
            <button *ngIf="!filterBox.activated" (click)="toggleFilterBox(filterBox)">{{filterBox.name}}</button>
            <button *ngIf="filterBox.activated" (click)="toggleFilterBox(filterBox)" style="background-color:#00DEAD;">{{filterBox.name}}</button>
        </li>
    </ul>

    <ul>
        <li *ngFor="let task of tasksToDisplay">
            <div> Name:{{task.name}} </div>
            <div> Description:{{task.description}} </div>
            <div> Status:{{task.statusText}} </div>
            <div> Color:{{task.colorText}} </div>
            <div> Type:{{task.typeText}} </div>

        </li>
    </ul>

    <div>
        <button name="btn-cancel" (click)="onCancelClick()">Cancel</button>
        <hr/>
        <pre>
            {{diagnostic}}
        </pre>
    </div>
</div>